{% extends "base.html" %}

{% block content %}

{% load static %}
<h1 class="page-title">Cadastrar Ingredientes para Produção</h1>

<header>
    <link rel="stylesheet" href="{% static 'css/producao/cadastrar_ingredientes.css' %}">
</header>

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        
        <label class="form-label" for="produto_final">Produto Final:</label>
        <select class="form-select" name="produto_final" id="produto_final">
            {% for produto in produtos %}
                <option value="{{ produto.id }}">{{ produto.nome }}</option>
            {% endfor %}
        </select>

        <label class="form-label" for="ingrediente">Ingrediente:</label>
        <select class="form-select" name="ingrediente" id="ingrediente">
            {% for produto in produtos %}
                <option value="{{ produto.id }}">{{ produto.nome }}</option>
            {% endfor %}
        </select>

        <label class="form-label" for="quantidade_necessaria">Quantidade Necessária:</label>
        <input class="form-input" type="number" name="quantidade_necessaria" id="quantidade_necessaria" step="0.01" required>

        <button class="form-button" type="submit">Adicionar Ingrediente</button>
    </form>
</div>

{% if messages %}
    <ul class="message-list">
        {% for message in messages %}
            <li class="message-item{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
