{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto p-6 bg-white shadow-lg rounded-lg max-w-4xl">
    <h1 class="text-3xl font-semibold text-gray-800 mb-6">Lista de Produtos e Seus Ingredientes</h1>

    <table class="w-full table-auto border-collapse">
        <thead class="bg-gray-100">
            <tr>
                <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Produto Final</th>
                <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Ingredientes</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos_com_ingredientes %}
                <tr class="border-b">
                    <td class="px-4 py-2">{{ produto.nome }}</td>
                    <td class="px-4 py-2">
                        <ul>
                            {% for ingrediente in produto.ingredientes.all %}
                                <li class="flex items-center justify-between">
                                    <span>{{ ingrediente.quantidade_necessaria }} de {{ ingrediente.ingrediente.nome }}</span>
                                    <form action="{% url 'remover_ingrediente' ingrediente.id %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="text-red-600 hover:text-red-800 font-semibold">Remover</button>
                                    </form>
                                </li>
                            {% empty %}
                                <li>Sem ingredientes cadastrados</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
