{% extends "base.html" %}
{% block title %}Listar Vendas{% endblock %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/vendas/listar_vendas.css' %}">
    <meta charset="UTF-8">
    <title>Lista de Vendas</title>
</head>

<body>
    <h1>Lista de Vendas</h1>
    <div class="container">
        <header>

                        <!-- Formulário de pesquisa -->
                        <form method="get" action="" class="form-pesquisa">
                            <input type="text" name="q" value="{{ query }}" placeholder="Pesquisar por produto..." class="input-pesquisa">
                            <button type="submit" class="btn-pesquisar">Pesquisar</button>
                        </form>
            <a href="{% url 'registrar_venda' %}" class="btn-registrar"> + Registrar Nova Venda</a>
            

        </header>

        <!-- Tabela de vendas -->
        <section class="tabela-vendas">
            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Data da Venda</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venda in vendas %}
                        <tr>
                            <td>{{ venda.produto.nome }}</td>
                            <td>{{ venda.quantidade }}</td>
                            <td>{{ venda.data_venda|date:"d/m/Y H:i" }}</td>
                            <td>R$ {{ venda.valor|floatformat:2 }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">Nenhuma venda registrada.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Paginação -->
        <div class="pagination">
            {% if vendas.has_previous %}
                <a href="?page=1&q={{ query }}" class="btn-paginacao">Primeira</a>
                <a href="?page={{ vendas.previous_page_number }}&q={{ query }}" class="btn-paginacao">Anterior</a>
            {% endif %}
            <span>Página {{ vendas.number }} de {{ vendas.paginator.num_pages }}</span>
            {% if vendas.has_next %}
                <a href="?page={{ vendas.next_page_number }}&q={{ query }}" class="btn-paginacao">Próxima</a>
                <a href="?page={{ vendas.paginator.num_pages }}&q={{ query }}" class="btn-paginacao">Última</a>
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}
