{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="max-w-md mx-auto p-6 bg-white shadow-lg rounded-lg mt-20">
        <h2 class="text-2xl font-semibold text-center text-gray-900 mb-6">Login</h2>

        <form method="post" action="{% url 'login' %}" class="space-y-6">
            {% csrf_token %}

            <!-- Usuário -->
            <div class="form-group">
                <label for="username" class="block text-gray-700 font-medium mb-2">Usuário:</label>
                <input type="text" id="username" name="username" required
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-600" />
            </div>

            <!-- Senha -->
            <div class="form-group">
                <label for="password" class="block text-gray-700 font-medium mb-2">Senha:</label>
                <input type="password" id="password" name="password" required
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-600" />
            </div>

            <!-- Botão de Login -->
            <div class="form-actions">
                <button type="submit"
                    class="w-full py-3 px-6 bg-teal-600 text-white rounded-lg hover:bg-teal-700 focus:outline-none">
                    Login
                </button>
            </div>
        </form>
    </div>
{% endblock %}
