{% extends "base.html" %}
{% block title %}Listar Transferências{% endblock %}
{% block content %}
    <h1>Transferências Realizadas</h1>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Tipo de Transferência</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for transferencia in transferencias %}
                <tr>
                    <td>{{ transferencia.estoque_origem.produto.nome }}</td>
                    <td>{{ transferencia.quantidade }}</td>
                    <td>{{ transferencia.get_tipo_transferencia_display }}</td>
                    <td>{{ transferencia.data_transferencia }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Nenhuma transferência registrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
