/* Estilos gerais */
.page-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.product-table-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para o botão de adicionar novo produto dentro da div */
.add-product-button {
    background-color: #28a745; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado do link */
    margin-bottom: 15px; /* Espaço entre o botão e a tabela */
    display: inline-block; /* Faz com que o botão fique na mesma linha da tabela */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

/* Efeito de hover no botão de adicionar */
.add-product-button:hover {
    background-color: #218838; /* Cor de fundo mais escura */
    transform: scale(1.05);
}

/* Estilos para a tabela de produtos */
.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th, .product-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.product-table tr:hover {
    background-color: #f1f1f1;
}

.product-table td {
    font-size: 1rem;
}

.product-table td[colspan="5"] {
    text-align: center;
    font-style: italic;
    color: #888;
}

/* Estilos para os botões de ação */
.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo do contêiner dos botões */
.form-actions {
    text-align: left; /* Alinha os botões à esquerda (opcional) */
}

/* Estilo dos botões */
.button {
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Cor do texto */
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado do link */
    display: inline-block; /* Faz os botões ficarem na mesma linha */
    margin-right: 10px; /* Adiciona um espaço entre os botões */
    transition: background-color 0.3s, transform 0.2s;
}

/* Efeito de hover nos botões */
.button:hover {
    background-color: #0056b3; /* Cor de fundo quando o botão é hover */
    transform: scale(1.05); /* Efeito de aumento suave */
}


.badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.875rem;
}

.badge-success {
    background-color: #28a745; /* Verde */
    color: white;
}

.badge-danger {
    background-color: #dc3545; /* Vermelho */
    color: white;
}