{% extends 'base.html' %}
{% block title %}
  Lista de Produtos
{% endblock %}
{% load static %}

{% block content %}
  <div class="inline-flex breadcrumb bg-sky-100 p-2 mb-4 rounded-lg shadow-md">
    <a href="{% url 'home' %}" class="text-sky-600 ho  ver:text-sky-900"><i class="fas fa-home"></i> Home</a>
    <span class="mx-2 text-gray-500">›</span>
    <a href="{% url 'listar_produtos' %}" class="text-sky-600 hover:text-sky-900"><i class="fas fa-box"></i> Produtos</a>
    <span class="mx-2 text-gray-500">›</span>
    <span class="text-gray-700"><i class="fas fa-list"></i> Listar Produtos</span>
  </div>

  <h3 class="text-sky-900 text-3xl font-semibold mb-4">Últimos Itens Alterados</h3>
  <div class="recent-items mb-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for produto in ultimos_alterados %}
    <div class="recent-item bg-white p-4 rounded-lg shadow-md border-4 border-transparent bg-gradient-to-r from-green-100 via-purple-100 to-sky-100 hover:scale-105 transition-transform duration-200">
        <h4 class="text-lg font-bold text-green-600">🟢 {{ produto.nome }}</h4>
        <p class="text-xs text-gray-500">Atualizado em: {{ produto.data_atualizacao|date:'d/m/Y H:i' }}</p>
        <p class="text-xs text-gray-600">Preço: R$ {{ produto.preco }}</p>
        <a href="{% url 'editar_produto' produto.id %}" class="mt-2 inline-block text-blue-600 hover:text-blue-800">✎ Editar</a>
      </div>
    {% endfor %}
  </div>

  <h2 class="text-2xl font-bold mb-4 flex items-center space-x-4">
    <!-- Frase e imagem -->
    <div class="text-sky-900 flex items-center space-x-2">
      <span>Lista de Produtos</span>
      <div class="animate-pulse floating-image">
        <img src="{% static 'css/icons/caixa.png' %}" alt="Imagem decorativa" class="w-10 h-10" />
      </div>
    </div>
  </h2>
  <!-- Barra de pesquisa -->
  <div class="search-container flex-grow">
    <form method="get" action="{% url 'listar_produtos' %}" class="relative">
      <input type="text" name="search" id="search-bar" placeholder="Digite o nome do produto..." value="{{ request.GET.search|default:'' }}" class="search-bar pr-10 pl-4 py-2 w-full border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600" />
      <button type="submit" class="absolute inset-y-0 right-0 px-3 flex items-center justify-center text-gray-600 hover:text-blue-600 focus:outline-none"><i class="fas fa-search"></i></button>
    </form>
  </div>

  <div class="product-table-container">
    <a href="{% url 'adicionar_produto' %}" class="mb-4 mt-4 add-product-button mb-4 inline-block bg-gradient-to-r from-green-500 via-green-400 to-green-400 hover:from-green-00 hover:via-green-600 hover:to-green-700 text-white px-6 py-2 rounded-lg focus:outline-none">+ Novo Produto</a>

    <table class="product-table w-full table-auto border-separate border-spacing-0 mb-6 rounded-lg shadow-md">
      <thead class="bg-gradient-to-r from-sky-500 via-purple-500 to-sky-500 text-white rounded-lg shadow-md">
        <tr>
          <th class="py-2 px-4">Código</th>
          <th class="py-2 px-4">Nome</th>
          <th class="py-2 px-4">Categoria</th>
          <th class="py-2 px-4">Código EAN</th>
          <th class="py-2 px-4">Fornecedor</th>
          <th class="py-2 px-4">Data Criação</th>
          <th class="py-2 px-4">Última Atualização</th>
          <th class="py-2 px-4">Preço</th>
          <th class="py-2 px-4">Status</th>
          <th class="py-2 px-4 text-center">Ações</th>
        </tr>
      </thead>
      <tbody class="bg-gray-50">
        {% for produto in produtos %}
          <tr class="border-b hover:bg-gray-100">
            <td class="py-2 px-4">{{ produto.codigo }}</td>
            <td class="py-2 px-4">{{ produto.nome }}</td>
            <td class="py-2 px-4">{{ produto.categoria }}</td>
            <td class="py-2 px-4">{{ produto.ean }}</td>
            <td class="py-2 px-4">{{ produto.fornecedor.nome }}</td>
            <td class="py-2 px-4">{{ produto.data_criacao|date:'d/m/Y H:i' }}</td>
            <td class="py-2 px-4">{{ produto.data_atualizacao|date:'d/m/Y H:i' }}</td>
            <td class="py-2 px-4">R$ {{ produto.preco }}</td>
            <td class="py-2 px-4">
              {% if produto.ativo %}
                <span class="text-green-600 font-semibold">Ativo</span>
              {% else %}
                <span class="text-red-600 font-semibold">Inativo</span>
              {% endif %}
            </td>
            <td class="py-2 px-4 text-center">
              <a href="{% url 'editar_produto' produto.id %}" class="inline-block text-blue-600 hover:text-blue-800">✎ Editar</a>
              <span class="mx-2">|</span>
              <a href="{% url 'historico_modificacoes_produto' produto.id %}" class="inline-block text-yellow-600 hover:text-yellow-800">📜 Histórico</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="9" class="text-center py-4 text-gray-500">Nenhum produto encontrado.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="pagination flex justify-between items-center mt-4">
      <span class="step-links text-sm text-gray-500">
        {% if page_obj.has_previous %}
          <a href="?search={{ search_query }}&page=1" class="text-blue-600 hover:text-blue-800">Primeira</a>
          <a href="?search={{ search_query }}&page={{ page_obj.previous_page_number }}" class="text-blue-600 hover:text-blue-800">Anterior</a>
        {% endif %}

        <span class="current mx-4">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
          <a href="?search={{ search_query }}&page={{ page_obj.next_page_number }}" class="text-blue-600 hover:text-blue-800">Próxima</a>
          <a href="?search={{ search_query }}&page={{ page_obj.paginator.num_pages }}" class="text-blue-600 hover:text-blue-800">Última</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
