{% extends "base.html" %}
{% block title %}Adicionar Cliente{% endblock %}
{% load static %}

{% block content %}
<div class="container mx-auto p-6 bg-white shadow-lg rounded-lg">
    <h1 class="text-3xl font-semibold text-gray-800 mb-6">Adicionar Cliente</h1>

    <form method="post" action="{% url 'adicionar_cliente' %}">
        {% csrf_token %}

        {% if form.errors %}
        <div class="mb-4 p-4 bg-red-100 border-l-4 border-red-500 text-red-700">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="mb-4">
            <label for="nome" class="block text-gray-700 font-medium">Nome:</label>
            {{ form.nome }}
        </div>

        <div class="mb-4">
            <label for="email" class="block text-gray-700 font-medium">Email:</label>
            {{ form.email }}
        </div>

        <div class="mb-4">
            <label for="cpf" class="block text-gray-700 font-medium">CPF:</label>
            {{ form.cpf }}
        </div>

        <div class="mb-4">
            <label for="nascimento" class="block text-gray-700 font-medium">Data de Nascimento:</label>
            {{ form.nascimento }}
        </div>

        <div class="mb-4">
            <label for="telefone" class="block text-gray-700 font-medium">Telefone:</label>
            {{ form.telefone }}
        </div>

        <div class="mb-4">
            <label for="endereco" class="block text-gray-700 font-medium">Endereço:</label>
            {{ form.endereco }}
        </div>

        <div class="flex space-x-4">
            <button type="submit" class="px-6 py-2 bg-blue-600 text-white hover:bg-blue-700 rounded-md">Salvar</button>
            <a href="{% url 'lista_clientes' %}" class="px-6 py-2 bg-gray-600 text-white hover:bg-gray-700 rounded-md">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
