{% extends "base.html" %}
{% block title %}Listar Clientes{% endblock %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/clientes/lista_clients.css' %}">
</head>
<body>
    <h1>Clientes</h1>

    <a href="{% url 'adicionar_cliente' %}" class="btn">Adicionar Novo Cliente</a>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.endereco }}</td>
                <td>
                    <a href="{% url 'editar_cliente' cliente.id %}">Editar</a> |
                    <a href="{% url 'excluir_cliente' cliente.id %}" onclick="return confirm('Tem certeza que deseja excluir este cliente?');">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum cliente cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
